
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ✅ ADD THIS */
html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* ✅ IMPORTANT for Lenis */
}


.phone-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone-input input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #0f172a; /* slate-900 */
}

.phone-input input::placeholder {
  color: #9ca3af; /* gray-400 */
}

.phone-input .PhoneInputCountrySelect {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.phone-input .PhoneInputCountryIcon {
  width: 20px;
  height: 20px;
}
